# Локальные каталоги .terraform
**/.terraform/*

# .tfstate файлы
*.tfstate
*.tfstate.*

# Файлы журнала сбоев
сбой.log
сбой.*.log

# Исключить все файлы .tfvars, которые могут содержать конфиденциальные данные, такие как
# пароль, закрытые ключи и другие секреты. Они не должны быть частью версии 
# контролируйте, поскольку они являются точками данных, которые потенциально чувствительны и подлежат 
# для изменения в зависимости от среды.
*.tfvars
*.tfvars.json

# Игнорировать переопределяющие файлы, поскольку они обычно используются для переопределения ресурсов локально и поэтому
# не зарегистрированы
override.tf
переопределить.tf.json
*_override.tf
*_override.tf.json

# Включить переопределенные файлы, которые вы хотите добавить в систему управления версиями, используя отрицаемый шаблон
# !example_override.tf

# Включите файлы tfplan, чтобы игнорировать выводимый командой план: terraform plan -out=tfplan
# пример: *tfplan*

# Игнорировать файлы конфигурации CLI
.terraformrc
terraform.rc